Checks: "*,
  -google-*,
  -abseil-*,
  -altera-*,
  -altera-*,
  -android-*,
  -llvm*,
  -fuchsia-*,
  -boost-*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-static-accessed-through-instance,
  -bugprone-easily-swappable-parameters,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -hicpp-no-array-decay,
  -readability-avoid-return-with-void-value,
  -hicpp-special-member-functions,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -misc-no-recursion,
  -cppcoreguidelines-macro-usage,
  -readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -readability-function-cognitive-complexity,
  -hicpp-signed-bitwise,

  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-owning-memory,
  -hicpp-no-malloc,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-avoid-magic-numbers,
  -hicpp-vararg,
  -readability-magic-numbers,
  -cert-dcl50-cpp,
  -cert-err33-c,
  -concurrency-mt-unsafe,
  -cert-env33-c,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
ExtraArgs: ['-Wno-sign-compare']
