Checks: "*,
  -google-*,
  -abseil-*,
  -altera-*,
  -altera-*,
  -android-*,
  -llvm*,
  -fuchsia-*,
  -boost-*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-static-accessed-through-instance,
  -bugprone-easily-swappable-parameters,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -hicpp-no-array-decay,
  -readability-avoid-return-with-void-value,
  -hicpp-special-member-functions,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -misc-no-recursion,
  -bugprone-switch-missing-default-case,
  -hicpp-multiway-paths-covered,
  -clang-diagnostic-microsoft-string-literal-from-predefined,
  -cert-err34-c,
  -readability-redundant-casting,
  -cppcoreguidelines-macro-usage,
  -bugprone-reserved-identifier,
  -modernize-loop-convert,
  -cert-dcl37-c,
  -readability-use-std-min-max,
  -readability-math-missing-parentheses,
  -cppcoreguidelines-prefer-member-initializer,
  -cert-dcl51-cpp,
  -readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -readability-function-cognitive-complexity,
  -hicpp-signed-bitwise,
  -hicpp-deprecated-headers,
  -modernize-deprecated-headers,
  -hicpp-use-auto,
  -modernize-use-auto,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -bugprone-implicit-widening-of-multiplication-result,
  -misc-const-correctness,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-c-arrays,hicpp-avoid-c-arrays,modernize-avoid-c-arrays,
  -readability-isolate-declaration,
  -hicpp-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -misc-include-cleaner,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-owning-memory,
  -hicpp-no-malloc,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-avoid-magic-numbers,
  -hicpp-vararg,
  -readability-magic-numbers,
  -cert-dcl50-cpp,
  -cert-err33-c,
  -concurrency-mt-unsafe,
  -cert-env33-c,
  -bugprone-exception-escape,
  -cert-int09-c,
  -readability-enum-initial-value,
  -misc-use-internal-linkage,
  -cppcoreguidelines-macro-to-enum,
  -modernize-macro-to-enum,
  -readability-implicit-bool-conversion,
  -misc-use-anonymous-namespace,
  -modernize-use-using,
  -performance-enum-size
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
ExtraArgs: ['-Wno-sign-compare']
