### VisualStudio ###
.vscode/
.cache/
.history/
*.vsix
src/*.h

ms-vscode-remote.*
.history
.ionide
Generated\ Files/
.vs/

# Build results
build/
out/
compile_commands.json

# Own files
test.*
test2.*
myfs
old/