# Visual Studio stuff
/.vs
build/
bin/
/out
.idea/
Makefile
/*.user
.localhistory/
.vshistory/

# Visual Studio Code stuff
.history/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# other
output.txt
output2.txt
log.txt
DebugWorkshop/
